{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Book</h1>
  <ul class="list-group list-group-flush " id="Book">
    {% for note in user.book %}
    <li class ="list-group-item">{{book.data}}</li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="Book" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
  </form>
  {% endblock %}